<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />

    <style>

        .card{
            margin: 30px;
            padding: 30px;
            transition: ease 1s;
        }
        .card:hover{
            background-color:#e2e2e2;
        }

        


    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <title>ConneX-Home</title>
  </head>
  <body>
    <nav
      class="navbar sticky-top rounded-bottom navbar-expand-lg navbar-dark bg-primary"
    >
      <a class="navbar-brand" href="/homepage_connex"
        >ConneX</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="/homepage_connex" class="nav-link"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a href="#about" class="nav-link"><i class="fas fa-info-circle"></i> About </a>
          </li>

          <li class="nav-item active dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            <i class="fas fa-globe"></i> Web Apps
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#redirect">ReadX</a>
              <a class="dropdown-item" href="#enc">Enkrypt</a>
            </div>
            
          </li>
          <li class="nav-item active">
            <a style="border-bottom: 2px solid white;" href="/connex_contact" class="nav-link text-light"><i class="fas fa-envelope"></i></i> Contact Us </a>
          </li>
          
          
        </ul>

        <a href="/logout"
          ><button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Logout <i class="fas fa-sign-out-alt"></i>
          </button></a
        >
      </div>
    </nav>
    <div class="alert alert-success" role="alert">
        Thank you {{name}}, We will reach out to you soon..!!
      </div>
<div class="card bg rounded-0">

    <form action="/connex_contact_submit" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4"><i class="fas fa-user"></i> Username</label>
            <input name="username" type="text" class="form-control" id="inputEmail4" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4"><i class="fas fa-at"></i> E-mail</label>
            <input name="email" type="email" class="form-control" id="inputPassword4" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress"><i class="fas fa-map-marker-alt"></i> Address</label>
          <input name="add1" type="text" class="form-control" id="inputAddress" required>
        </div>
        <div class="form-group">
          <label for="inputAddress2"><i class="fas fa-map-marker-alt"></i> Address 2</label>
          <input name="add2" type="text" class="form-control" id="inputAddress2" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity"><i class="fas fa-building"></i> City</label>
            <input name="city" type="text" class="form-control" id="inputCity" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState"><i class="fas fa-building"></i> State</label>
            <input name="state" type="text" class="form-control" id="inputCity" required>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip"><i class="fas fa-search-location"></i> Zip</label>
            <input name="zipp" type="text" class="form-control" id="inputZip" required>
          </div>
        </div>
        <div class="form-group">
          
        </div>
        <button type="submit" class="btn btn-primary">Send <i class="fas fa-share-square"></i></button>
      </form>
</div>
    <div style="margin: 20px;" class="border"></div>
    <div
      style="color: black; text-align: center; margin-bottom: 20px;"
      id="last"
      class="wrap"
    >
      <h6 class="text-dark small font-weight-bold">
        <i style="color: #007bff;" class="fas fa-code"></i> with
        <i style="color: #007bff;" class="fas fa-heart"></i> by Aryan Kashyap
      </h6>
    </div>
  </body>
</html>
