<!DOCTYPE html>
<html>
  <head>
    <title>ConneX</title>
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h2 class="connex">ConneX</h2>
    <img class="wave" src="../static/wave.png" />
    <div class="container">
      <div class="img"></div>
      <div class="login-content">
        <form action="/forgot_details" method="POST">
          <img src="../static/avatar.png" />
          <h2 class="title"></h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="div">
              <h5>E-mail</h5>
              <input name="email" type="text" class="input" />
            </div>
          </div>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input name="username" type="text" class="input" />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>New Password</h5>
              <input name="newpassword" type="password" class="input" />
            </div>
          </div>
          <button type="submit" class="btn">
            Reset <i class="fas fa-sync-alt"></i>
          </button>
        </form>
      </div>
    </div>
    <br /><br />
    <script type="text/javascript" src="../static/main.js"></script>
  </body>
</html>
