<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>ConneX</title>
</head>
<body>
    <div class="wrapper">
        <div class="star"></div>
        <div class="moon">
            <div class="bar"></div>
        </div>
    </div>
    <main class="main">
        <div class="main__header">
            <a href="landing.html" class="logo">
                <h2>ConneX</h2>
            </a>
        </div>

        <div class="main__showcase">
            <h1 class="main__showcase--content">
                Connect. Create. Collaborate.
            </h1>
            <div class="main__showcase--btns">
                <a href="#" class="btn">Login</a>
                <a href="#" class="btn">Sign Up</a>
            </div>
        </div>
    </main>
</body>
</html>