<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>ConneX</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="star"></div>
      <div class="moon">
        <div class="bar"></div>
      </div>
    </div>
    <main class="main">
      <div class="main__header">
        <a href="/" class="logo">
          <h2>ConneX</h2>
        </a>
      </div>

      <div class="main__showcase">
        <h1 class="main__showcase--content">
          Connect. Create. Collaborate.
        </h1>
        <div class="main__showcase--btns">
          <a id="but" href="/login" class="btn">Login</a>
          <a id="but" href="/signup" class="btn">Sign Up</a>
        </div>
      </div>
    </main>

    <a
      href="https://twitter.com/imaryankashyap"
      target="_blank"
      id="floating-btn"
      class="material-icons"
      ><i class="fab fa-twitter"></i
    ></a>
    <a
      href="https://github.com/iaryankashyap"
      target="_blank"
      id="floating-btn2"
      class="material-icons"
      ><i class="fab fa-github"></i
    ></a>
  </body>
</html>
