<!DOCTYPE html>
<html>
  <head>
    <title>Med1Stop</title>
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="alert alert-danger" role="alert">
      Login Failed, Please try again.
    </div>
    <h2 style="font-weight: 700;" class="connex">Med1Stop</h2>
    <img class="wave" src="../static/wave.png" />
    <div class="container">
      <div class="img"></div>
      <div class="login-content">
        <form action="/login_details" method="POST">
          <img src="../static/avatar.png" />
          <h2 class="title">Login</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input name="username" type="text" class="input" />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input name="password" type="password" class="input" />
            </div>
          </div>
          <a href="forgot_connex"><h6 class="head">Forgot Password?</h6></a>
          <button type="submit" class="btn">
            LOGIN <i class="fas fa-sign-in-alt"></i>
          </button>
          <h5 style="font-size: 15px;" class="new_head">
            Don't have an account? <a class="sig" href="/signup">Sign Up</a>
          </h5>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="../static/main.js"></script>
  </body>
</html>
