<!DOCTYPE html>
<html>
  <head>
    <title>ConneX</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="alert alert-success" role="alert">
      An OTP has been sent on your email.
    </div>
    <h2 style="font-weight: 700;" class="connex">ConneX</h2>
    <img class="wave" src="../static/wave.png" />
    <div class="container">
      <div class="img"></div>
      <div class="login-content">
        <form action="/otp_details" method="POST">
          <img src="../static/avatar.png" />
          <h2 class="title">Confirm OTP</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>OTP</h5>
              <input name="otp" type="text" class="input" />
            </div>
          </div>

          <input type="submit" class="btn" value="Login" />
        </form>
      </div>
    </div>
    <script type="text/javascript" src="../static/main.js"></script>
  </body>
</html>
