<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <title>Document</title>
    <link rel="stylesheet" href="log-sig-dark.css" />
  </head>
  <body>
    <h3 class="logo">Logo</h3>
    <div class="nav">
      <ul class="items">
        <a href="login.html"><li class="item_dark">Light Mode</li></a>
        <li class="item">Profile</li>
        <li class="item">Contact Us</li>
        <li class="item">About</li>
        <li id="active" class="item">Home</li>
      </ul>
      <h3 class="border"></h3>
    </div>
  </body>
</html>
