<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConneX-Signup</title>
    <link rel="stylesheet" href="static/log-sig.css" />
  </head>
  <body>
    <h3 class="logo">ConneX</h3>
    <div class="nav">
      <ul class="items">
        <a href="signup-dark"><li class="item_dark">Dark Mode</li></a>
        <a href="/signup"><li id="active" class="item">Sign Up</li></a>
        <a href="/"><li class="item">Login</li></a>
      </ul>
    </div>
    <div class="Log_box">
      <div class="box">
        <h1>Sign Up</h1>
        <form action="signup_details" method="POST">
          <div class="inputBox">
            <input type="text" name="username" autocomplete="off" required />
            <label>
              E-mail
            </label>
          </div>

          <div class="inputBox">
            <input
              type="password"
              name="password"
              autocomplete="off"
              required
            />
            <label>
              Password
            </label>
          </div>
          <div class="inputBox">
            <input
              type="password"
              name="password2"
              autocomplete="off"
              required
            />
            <label>
              Confirm Password
            </label>
          </div>
          <div></div>
          <input type="submit" name="" value="Sign Up" />
        </form>
      </div>
    </div>
  </body>
</html>
